<a href="https://colab.research.google.com/github/Iqbal-127/Pemograman-Dasar/blob/main/Latihan_Pertemuan_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
age = 20
salary = 120000.0

print(type(age))
print(type(salary))

<class 'int'>
<class 'float'>

In [ ]:
x = 6
print(type(x))

x = "6"
print(type(x))

<class 'int'>
<class 'str'>

In [ ]:
x = 6
print(type(x))

x = 6.0
print(type(x))

x = 1+2j
print(type(x))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
var = 10
print(var)
print(id(var))
var = 11
print(var)
print(id(var))

10
11642376
11
11642408

In [ ]:
x = True
print(type(x))

x = False
print(type(x))

<class 'bool'>
<class 'bool'>

In [ ]:
x = 'polibatam'
print(type(x))

<class 'str'>

In [ ]:
multi_line = ' halo nama saya muhammad al iqbal.'

print(multi_line)

 halo nama saya muhammad al iqbal.

In [ ]:
x = 'polibatam'
print(x[0])

p

In [ ]:
x = 'polibatam'
x[0] = 'f'

TypeError: 'str' object does not support item assignment

In [ ]:
x = 'polibatam'
print(x[2:])

libatam

In [ ]:
name = 'Persus Evans'
print(f'Heloo nama saya muhammad al iqbal')

Heloo nama saya muhammad al iqbal

In [ ]:
name = 'Perseus Evans'
print('nama saya iqbal%(name)')

nama saya iqbal%(name)

In [ ]:
name = ' nama saya iqbal'
print("nama saya {}".format(name))

nama saya  nama saya iqbal

In [ ]:
nama = "iqbal"
print("nama saya :iqbal")

nama saya :iqbal

In [ ]:
x = [1, 2.2, 'plibatam']
print(type(x))

<class 'list'>

In [ ]:
x = [1, 2.2, 'Dicoding']
print(x)

[1, 2.2, 'Dicoding']

In [ ]:
x = [1, 'polibatam', True, 1.0]
print(x[2])

True

In [ ]:
x = [1, 2.2, 'Polibatam']
x[0] = 'Indonesia'
print(x)

['Indonesia', 2.2, 'Polibatam']

In [ ]:
x = ["laptop,'monitor,'mouse,'mousepad,'keyboard,'"]
print(x[0:5:2])
print(x[1:])
print(x[:3])

["laptop,'monitor,'mouse,'mousepad,'keyboard,'"]
[]
["laptop,'monitor,'mouse,'mousepad,'keyboard,'"]

In [ ]:
x = (1, "Polibatam, 1+3j")
print(type(x))

<class 'tuple'>

In [ ]:
x = (5, 'program, 1+3j')
print(x[1])
print(x[0:3])

program, 1+3j
(5, 'program, 1+3j')

In [ ]:
x = (5, 'program, 1+3j')
x[1] = 'Polibatam'

TypeError: 'tuple' object does not support item assignment

In [ ]:
x = {1, 2, 7, 2, 3, 13, 3}
print(x)
print(type(x))

{1, 2, 3, 7, 13}
<class 'set'>

In [ ]:
x = { 'name' : 'M al iqbal', 'age' : 20, 'isMaried': False}
x ['Job'] = "Web Developer"

print(x)

{'name': 'M al iqbal', 'age': 20, 'isMaried': False, 'Job': 'Web Developer'}